<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Drummy's Adventures</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet"></head>
  <link rel="shortcut icon" href="./assets/drummy.png"/>
  <link rel="stylesheet" href="styles.css">
<body>
<div id="navbar">
  <div>
    <img class="navbar-imgs" src="assets/drummy.png"/>
  </div>
  <div>
    <p>Download</p>
    <p>Stats</p>
    <p>About us</p>
    <p>Login</p>
  </div>
</div>
<section id="about-us">
 <div class="box-about-us">
    <div class="box-top">
    <div class="text-container">
      <h2>About Us</h2>
    <p>This project has been done by students of the Tecnológico de Monterrey as a collaboration with PAS (Percurssive Arts Society). We hope this project will teach everyone who plays it a little bit more about percurssion instruments.</p>
    </div>
    <img src="./assets/escenario.png" alt="[Scenario]"></img>
    </div>
    <div class="box-bottom">
    <div class="text-container">
      <h2>Developers</h2>
      <p>The team is made up of four students of the Computer Science Bachelor.</p>
      <div class="pp-container">
        <div class="pp-container0">
          <img src="./assets/pp-victoria-v.jpeg"></img>
          <p>Victoria Estefanía Vázquez Morales</p>
          <img src="./assets/pp-augusto-aleman.jpg"></img>
          <p>Octavio Augusto Alemán Esparza</p>
        </div>
        <div class="pp-container0">
          <img src="./assets/pp-rodrigo-g.jpeg"></img>
          <p>Rodrigo Gómez Quiroz</p>
          <img src="./assets/pp-carla-onate.jpeg"></img>
          <p>Carla Oñate Gardella</p>
        </div>
      </div>
    </div>
      </div>
  </div>
</section>
<section id="about-us-footer">  
</section>
</body>
</html>