<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drummy's Adventures</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet"></head>
    <link rel="shortcut icon" href="./assets/drummy.png"/>
    <link rel="stylesheet" href="styles.css">
<body>
<div id="navbar">
    <div>
        <img class="navbar-imgs" src="assets/drummy.png"/>
    </div>
    <div>
        <p>My stats</p>
        <p>Profile</p>
        <img id="navbar-imgs" src="assets/drum.png"/>
    </div>
</div>
<section id="dashboard">
    <div>
        <h2>Profile</h2>
    </div>
    <div>
        <div id="username">
            <p class="highlight">Username:</p>
            <p>username</p>
        </div>
        <button class="button-outline-orange button-small">Edit</button>
    </div>
    <div>
        <p class="highlight">Personal data:</p>
        <div>
            <div>
                <p class="bold-text">Email</p>
                <p>user@email.com</p>
            </div>
            <div>
                <p class="bold-text">Country</p>
                <p>México</p>
            </div>
            <div>
                <p class="bold-text">Age</p>
                <p>19</p>
            </div>
        </div>
    </div>
</section>
</body>
</html>