<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drummy's Adventures</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet"></head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="./assets/drummy.png"/>
    <link rel="stylesheet" href="styles.css">
    <script src="../js/index.js" type="text/javascript"></script>
<body>
    <div id="navbar">
        <div>
            <a href="../index.html"><img class="navbar-imgs" src="assets/drummy.png"/></a>
        </div>
        <div>
            <p><a href="../index.html" class="black">Home</a></p>
            <p><a href="download-logged.html" class="orange">Download</a></p>
            <p><a href="stats.html" class="black">My stats</a></p>
            <p><a href="dashboard.html" class="black">Profile</a></p>
            <div onclick="showSignOutButton()">
                <img class="navbar-imgs" src="assets/drum.png"/>
                <div id="sign-out">
                    <a href="download.html">Sign-out</a>
                </div>
            </div>
        </div>
    </div>
    <section id="download-logged">
        <h2>Download the game</h2>
        <p class="light-text">Just click the download button and your download should start automatically.</p>
        <div>
            <p><strong>Click here to download the game!</strong></p>
            <button class="button-filled">Download</button>
        </div>
    </section>
</body>
</html>