<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Drummy's Adventures</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="./assets/drummy.png"/>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div id="navbar">
            <div>
                <img class="navbar-imgs" src="assets/drummy.png"/>
            </div>
            <div>
                <p>Download</p>
                <p>Stats</p>
                <p>About us</p>
                <p>Login</p>
                <img id="navbar-imgs" src="assets/drum.png"/>
            </div>
        </div>
        <section id="download_main">
            <div id="dl_info">
                <h1>Download the game</h1>
                <p>You can download the game by clicking here!</p>
                <div><button class="button-filled">Sign up and download</button></div>
                <p>To be able to download the game you have to create an account.</p>

            </div>
            <img src="assets/example_DL.png">
        </section>

        <section id="how2_play">

            <div id="move">
                <img src="assets/ex_move.png">
                <div id="move_inst">
                    <h1>How to play the game?</h1>
                    <p>Drummy will hear a simple song with a percussion instrument that he will have to play. If the notes are played in the correct order drummy has won that level and goes on to the next.</p>
                    <h2>To move Drummy</h2>
                    <img src="assets/arrows.png">
                </div>
            </div>

             <div id="to_hit">
                <div id="hit_inst">
                    <h2>To hit</h2>
                    <img src="assets/b.png">
                    <p>Drummy can destroy obstacles with his powerful drumstick by using the B key on the keyboard.</p>
                </div>
                <img src="assets/punch.png">
            </div>

            <div id="instruments">
                <div id="inst_inst">
                    <h2>To play percussion instruments</h2>
                    <img src="assets/hjgk.png">
                    <p>Drummy can use these buttons to play different notes of the percussion instruments.</p>
                </div>
                <img src="assets/insts.png">
            </div>

            <div id="gpNtime">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/OGeO8hdxh4k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div id="gpNtime_inst">
                    <h2>Gameplay</h2>
                    <p>To save your friend you need to play the notes in the right order. When you reach your friend the notes will play and you'll have to repeat them.</p>
                    <h2>Maximum time</h2>
                    <p>The maximum time to finish all the levels will be of 10 minutes. If the player cannot finish before this time then it'll be game over.</p>
                </div>
            </div>

        </section>
       
    </body>
</html>