<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drummy's Adventures</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../server/assets/drummy.png"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="navbar">
    <div>
        <img class="navbar-imgs" src="../server/assets/drummy.png"/>
    </div>
    <div>
        <p>Download</p>
        <p>Stats</p>
        <p>About us</p>
        <p>Login</p>
        <img id="navbar-imgs" src="../server/assets/drum.png"/>
    </div>
</div>
</body>
</html>