<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Drummy's Adventures</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet"></head>
  <link rel="shortcut icon" href="./assets/drummy.png"/>
  <link rel="stylesheet" href="styles.css">
<body>
<div id="navbar">
  <div>
    <a href="../index.html"><img class="navbar-imgs" src="assets/drummy.png"/></a>
  </div>
  <div>
    <p><a href="../index.html">Home</a></p>
    <p><a href="download.html">Download</a></p>
    <p><a href="stats.html">Stats</a></p>
    <p><a href="aboutus.html">About us</a></p>
    <p><a href="login.html">Login</a></p>
    <img id="navbar-imgs" src="assets/drum.png"/>
  </div>
</div>
<section id="signup">
  <div>
    <h2>Login</h2>
    <p class="light-text">Login to your account to see your personal stats. To play the game you must have an account.</p>
  </div>
  <div id="input-boxes">
    <div>
      <label class="bold-text">Email</label>
      <input placeholder="Email" name="email"/>
    </div>
    <div>
      <label class="bold-text">Password</label>
      <input placeholder="Password" name="age"/>
    </div>
  </div>
  <div>
    <button class="button-outline-orange button-small" id="login-button">Login</button>
  </div>
  <div>
    <p>You don't have an account? Create one here!</p>
    <a href="signup.html"><button class="button-outline-orange button-small">Signup</button></a>
  </div>
</section>
</body>
</html>