<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Drummy's Adventures</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet"></head>
  <link rel="shortcut icon" href="./assets/drummy.png"/>
  <link rel="stylesheet" href="styles.css">
<body>
<div id="navbar">
  <div>
    <img class="navbar-imgs" src="assets/drummy.png"/>
  </div>
  <div>
    <p>Download</p>
    <p>Stats</p>
    <p>About us</p>
    <p>Login</p>
  </div>
</div>
<section id="signup">
  <div>
    <h2>Signup</h2>
    <p class="light-text">Create your account. You'll have to answer a simple form to create your account.</p>
  </div>
  <div>
    <div>
      <label class="bold-text">Enter your email</label>
      <input placeholder="Email" name="email"/>
    </div>
    <div>
      <label class="bold-text">How old are you?</label>
      <input placeholder="Age" name="age"/>
    </div>
    <div>
      <label class="bold-text">Enter your password</label>
      <input placeholder="Password" name="password"/>
    </div>
    <div>
      <label class="bold-text">Where are your from?</label>
      <input placeholder="Country" name="country"/>
    </div>
    <div>
      <label class="bold-text">Choose your username</label>
      <input placeholder="Username" name="username"/>
    </div>
    <div>
      <label class="bold-text">Confirm your password</label>
      <input placeholder="Confirm password" name="confirmPassword"/>
    </div>
  </div>
  <div>
    <p>Already have an account? Login here</p>
    <button class="button-outline-orange button-small">Login</button>
  </div>
</section>
</body>
</html>