<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Drummy's Adventures</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="./assets/drummy.png"/>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div id="navbar">
            <div>
                <img class="navbar-imgs" src="assets/drummy.png"/>
            </div>
            <div>
                <p>Download</p>
                <p>Stats</p>
                <p>About us</p>
                <p>Login</p>
                <img id="navbar-imgs" src="assets/drum.png"/>
            </div>
        </div>

        <section id="stats">
            <div id="stat_description">
                <h1>Stats</h1>
                <p>In this section you'll find the global stats for the game and the website. To see personal stats you'll have to login and see the my stats section.</p>
            </div>
            <div id="graphs">
                
                <div class="stat_pair">
                    <div class="gpWtitle"><h2>Top Scores</h2> <img src="assets/stat1.png"></div>
                    <div class="gpWtitle"><h2>Top Scores (Level 1)</h2><img src="assets/stat2.png"></div>
                </div>

                <div class="stat_pair">
                    <div class="gpWtitle"><h2>Top Scores (Level 2)</h2><img src="assets/stat3.png"></div>
                    <div class="gpWtitle"><h2>Top Scores (Level 3)</h2><img src="assets/stat4.png"></div>
                </div>

                <div class="stat_pair">
                    <div class="gpWtitle"><h2>Website visits</h2><img src="assets/stat5.png"></div>
                    <div class="gpWtitle"><h2>Downloads by country</h2><img src="assets/stat6.png"></div>
                </div>

            </div>
            
        </section>
       
    </body>
</html>