/*General styles*/
* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    height: 100%;
}


p {
    margin: 5px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 19px;
}

button {
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    line-height: 20px;
    list-style: none;
    margin: 5px;
    outline: none;
    padding: 5px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

input {
    background-color: #FFFFFF;
    border: 1px solid #2A9D8F;
    border-radius: 5px;
    width: 20vw;
    height: 30px;
    color: #8190A5;
    font-size: 12px;
    line-height: 62px;
    text-align: left;
    padding: 0 10px 0 10px;
    color: #969FAA;
}


/* General classes */

.button-small {
    font-size: 12px;
    height: 30px;
    line-height: 15px;
}

.button-filled {
     background-color: #E76F51;
     color: #FFFFFF;
}

.button-outline-orange {
    background-color: white;
    border: solid 1px #E76F51;
    color: #E76F51;
}

.button-outline-white {
    background-color: transparent;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
}

.light-text {
    font-weight: 300;
    color: #969FAA;
}

.bold-text {
    font-weight: 500;
}

/*Specific styles*/

#navbar {
    /* Fonts */
    font-family: 'Fira Mono', monospace;
    font-size: 15px;
    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    /* Other */
    background-color: #F5F5F5;
    padding: 10px;
    height: 30px;
}

#navbar div:nth-child(2){
    /*Nav bar menu*/
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

/*Thank you page -> after sign up*/

#thankyou {
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*  Other  */
    min-height: 80%;
}

#thankyou > div {
    /* Flex */
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    /* Immediate first two divs  */
    width: 50%;
}

#thankyou div {
    /* All divs recursively inside thankyou */
    /* Other */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



/* Sign up page */

#signup {
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    column-gap: 10%;
    /*  Other  */
    min-height: 85%;
}

#signup > div {
    /* all divs recursively */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* Other */
}

#signup > div:first-child {
    width: 40%;
    justify-self: center;
}

#signup > div:nth-child(2) {
    /* Div containing the form */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 30px 5vw;
}

#signup > div:nth-child(2) div {
    /*  Div of each individual input  */
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}
