<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drummy's Adventures</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet"></head>
    <link rel="shortcut icon" href="./assets/drummy.png"/>
    <link rel="stylesheet" href="styles.css">
<body>
    <div id="navbar">
        <div>
            <img class="navbar-imgs" src="assets/drummy.png"/>
        </div>
        <div>
            <p>Download</p>
            <p>Stats</p>
            <p>About us</p>
            <p>Login</p>
        </div>
    </div>
    <section id="thankyou">
        <div>
            <h2>Thank you!</h2>
            <p class="light-text">We have created your account successfully, you'll need it to login to the game.</p>
        </div>
        <div>
            <p><strong>Click here to download the game!</strong></p>
            <button class="button-filled">Download</button>
        </div>
        <div>
            <p>Already downloaded the game? Login to your account</p>
            <button class="button-outline-orange button-small">Login</button>
        </div>
    </section>
</body>
</html>