
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(downloadChart);
    console.log(' HOLoooo  ')

    function downloadChart() {
      const data = google.visualization.arrayToDataTable({{ download | safe }})

      const options = {
        title: 'Downloads by country'
      };

      const chart = new google.visualization.PieChart(document.getElementById('downloadChart'));

      chart.draw(data, options);
    }
  </script>
  <div id="downloadChart" style="width: 900px; height: 500px;"></div>
