{% extends "web/navbar-footer.html" %}

{% block navbar %}
    {{block.super}}
    <style>
        #download{
            color: #E76F51;
        }
    </style>
{% endblock %}

{% block content %}
<section id="download_main">
    <div id="dl_info">
        <h1>Download the game</h1>
        <p>You can download the game by clicking here!</p>
        <div><a href="{% url 'signup' %}"><button class="button-filled">Sign Up and download</button></a></div>
        <p>To be able to download the game you have to create an account.</p>
    </div>
    <img src="../../../static/assets/example_DL.png">
</section>
<section id="how2_play">
    <div id="move">
        <img src="../../../static/assets/ex_move.png">
        <div id="move_inst">
            <h1>How to play the game?</h1>
            <p>Drummy will have to find his friends and save them. Drummy has to find them somewhere inside the level and find out how they got hurt.</p>
            <h2>To move Drummy</h2>
            <img src="../../../static/assets/arrows.png">
        </div>
    </div>
     <div id="to_hit">
        <div id="hit_inst">
            <h2>To hit</h2>
            <img src="../../../static/assets/j.png">
            <p>Drummy can destroy obstacles with his powerful drumstick by using the J key on the keyboard.</p>
        </div>
        <img src="../../../static/assets/punch.png">
    </div>
    <div id="instruments">
        <div id="inst_inst">
            <h2>To interact with the environment</h2>
            <img src="../../../static/assets/space.png">
            <p>Drummy can use space to see the messages from his teammates or instructions from the sign.</p>
        </div>
        <img src="../../../static/assets/insts.png">
    </div>
    <div id="gpNtime">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OGeO8hdxh4k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id="gpNtime_inst">
            <h2>Gameplay</h2>
            <p>To save your friend you need to play the notes in the right order. When you reach your friend the notes will play and you'll have to repeat them.</p>
            <h2>Maximum time</h2>
            <p>The maximum time to finish all the levels will be of 10 minutes. If the player cannot finish before this time then it'll be game over.</p>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}

{% endblock %}