{% extends "web/navbar-footer.html" %}

{% block navbar %}
    {{block.super}}
    <style>
        #download{
            color: #E76F51;
        }
    </style>
{% endblock %}

{% block content %}
<section id="download_main">
    <div id="dl_info">
        <h1>Download the game</h1>
        <p>You can download the game by clicking here!</p>
        <p>To be able to download the game you have to create an account.</p>
        <div id="signup-download-container"><a href="{% url 'signup' %}"><button class="button-filled">Sign Up and download</button></a></div>
    </div>
    <img src="../../../static/assets/escenario.png">
</section>
<section id="how2_play">
    <div id="move">
        <img src="../../../static/assets/scenario01.jpeg">
        <div id="move_inst">
            <h1>How to play the game?</h1>
            <p>Drummy will have to pass through three different levels, each one adding more difficulty. <br>Each level contains a wide range of obstacles and enemies, in order to make it through, Drummy will need not only to atack his enemies and succeed, but also to do so in as little time as possible.</p>
            <h2>To move Drummy</h2>
            <img src="../../../static/assets/arrows.png">
        </div>
    </div>
     <div id="to_hit">
        <div id="hit_inst">
            <h2>To hit</h2>
            <img src="../../../static/assets/tecla-o.png">
            <p>Drummy can attack his enemies with his powerful drumstick by using the O key on the keyboard.</p>
        </div>
        <img src="../../../static/assets/drummyCaminando.gif">
    </div>
    
    <div id="gpNtime">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OGeO8hdxh4k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id="gpNtime_inst">
            <h2>Gameplay</h2>
            <p>In order to save Drummy's Friends you need to defeat the enemies and pass the levels in as little time as possible.</p>
            <h2>Top Scores</h2>
            <p>The Top Scores of each level will be displayed in the Stats section. Completing the game is not just about saving Drummy's Friends, but also about doing it as fast as you can. Are you ready to become the best? </p>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}

{% endblock %}