{% extends "web/navbar-footer-logged.html" %}

{% block navbar %}
    {{block.super}}
    <style>
        #download-logged-navbar{
            color: #E76F51;
        }
    </style>
{% endblock %}

{% block content %}
<section id="download-logged">
    <h2>Download the game</h2>
    <p class="light-text">Just click the download button and your download should start automatically.</p>
    <div>
        <p><strong>Click here to download the game!</strong></p>
        <button class="button-filled">Download</button>
    </div>
</section>
{% endblock %}