{% extends "web/navbar-footer.html" %}

{% block navbar-extension %}
{{block.super}}
<p><a id="signup-navbar" href="{% url 'signup' %}" class="black">Sign Up</a></p>

  <style>
    #signup-navbar{
        color: #E76F51;
    }
  </style>

{% endblock %}

{% block content %}
<section id="signup">
  <div>
    <h2>Sign Up</h2>
    <p class="light-text">Create your account. You'll have to answer a simple form to create your account.</p>
  </div>
  <form method="POST" action="user/signup">
    {% csrf_token %}
    <div>
      <div id="signup-username-div">
        <label class="bold-text">Enter your username</label>
        <input required id="signup-username" placeholder="Username" type="text" name="username"/>
      </div>
      <div>
        <label class="bold-text">How old are you?</label>
        <input required placeholder="Age" type="text" name="age"/>
      </div>
      <div>
        <label for="country-input" class="bold-text">Where are your from?</label>
        <input required id="country-input" type="text" placeholder="Country" name="country"/>
      </div>
      <div>
        <label class="bold-text">Enter your password</label>
        <input required id="signup-password" type="text" placeholder="Password" name="password"/>
      </div>
      <div>
        <label class="bold-text">Confirm your password</label>
        <input required id="confirm-password" type="text" placeholder="Confirm password" name="confirmPassword"/>
      </div>
    </div>
    <button id="signup-submit" type="submit" class="button-filled" onclick="removeOnChange()">Signup</button>
  </form>
  <div>
    <p>Already have an account? Login here</p>
    <button class="button-outline-orange button-small"><a href="{% url 'login' %}">Login</a></button>
  </div>
  <script type="text/javascript">
    console.log({{ usernames | safe }})
    countries = {{ countries | safe }}
    usernames = {{ usernames | safe }}
  </script>
</section>
{% endblock %}

{% block footer %}

{% endblock %}