{% extends "web/navbar-footer.html" %}
{% block navbar %}
    {{block.super}}
    <style>
        #stats-navbar{
            color: #E76F51;
        }
    </style>
{% endblock %}

{% block content %}

<section id="stats">
    <div id="stat_description">
        <h1>Stats</h1>
        <p>In this section you'll find the global stats for the game and the website. To see personal stats you'll have to login and see the my stats section.</p>
    </div>
    <div id="graphs">
        <div class="stat_pair">

           <div id="table_title">Top 10 fastest users of all time<br> <br><div id="table_div"></div></div>
            <div id="level1"></div>
        </div>
        <div class="stat_pair">
            <div id="level2"></div>
            <div id="level3"></div>
        </div>
        <div class="stat_pair">
            <div id="visitsChart"></div>
            <div id="downloadChart"></div>
        </div>
    </div>

    <script type="text/javascript">
        visits = {{ visits | safe }}
        downloads = {{ downloads | safe }}
        topscores = {{ topscores | safe }}
        level1 = {{ level1 | safe }}
        level2 = {{ level2 | safe }}
        level3 = {{ level3 |safe }}
        google.charts.setOnLoadCallback(visitsChart);
        google.charts.setOnLoadCallback(downloadChart);
        google.charts.setOnLoadCallback(table);
        google.charts.setOnLoadCallback(() => horizontalBars(level1, 1));
        google.charts.setOnLoadCallback(() => horizontalBars(level2, 2));
        google.charts.setOnLoadCallback(() => horizontalBars(level3, 3));    </script>
</section>
{% endblock %}
