
  <script type="text/javascript">
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(visitsChart);
    console.log(' HOLIII  ')
    function visitsChart() {
      const data = google.visualization.arrayToDataTable({{ visits | safe }});

      const options = {
        chart: {
          title: 'Visits',
          subtitle: 'Last 10 visits',
        },
        legend: {
          position: 'none',
        },
      };

      const chart = new google.charts.Bar(document.getElementById('visitsChart'));

      chart.draw(data, google.charts.Bar.convertOptions(options));
    }
  </script>
  <div id="visitsChart" style="width: 500px; height: 500px;"></div>
