/*General styles*/
* {
    margin: 0;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    height: 100%;
}


p {
    margin: 5px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 19px;
}

button {
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    line-height: 20px;
    list-style: none;
    margin: 5px;
    outline: none;
    padding: 5px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

input {
  margin-bottom: 5%;
  background-color: #FFFFFF;
  border: 1px solid #2A9D8F;
  border-radius: 5px;
  width: 20vw;
  height: 30px;
  color: #8190A5;
  font-size: 12px;
  line-height: 62px;
  text-align: left;
  padding: 0 10px 0 10px;
  color: #969FAA;
}


/* General classes */

.white {
    color: #FFFFFF;
}

.orange {
    color: #E76F51;
}

.black {
    color: #343F4B;
}

.button-small {
    font-size: 12px;
    height: 30px;
    line-height: 15px;
}

.button-filled {
     background-color: #E76F51;
     color: #FFFFFF;
}

.button-filled-green {
    background-color: green;
    color: #FFFFFF;
}

.button-outline-orange, #signup-submit {
  text-decoration: none;
    background-color: white;
    border: solid 1px #E76F51;
    color: #E76F51;
}

.button-outline-white {
    background-color: transparent;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
}

.light-text {
    font-weight: 300;
    color: #969FAA;
}

.bold-text {
    font-weight: 500;
}

.highlight {
    color: #2A9D8F;
    font-weight: 500;
}

.error {
    color: #de454a;
    font-weight: bold;
}

/*Specific styles*/

#navbar {
    /* Fonts */
    font-family: 'Fira Mono', monospace;
    font-size: 15px;
    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    /* Other */
    background-color: #ededed;
    padding: 10px;
    height: 30px;
}

#navbar > div:nth-child(2){
    /*Nav bar menu*/
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

/* Front Page*/

#banner, #our-goal, #banner1, #see-stats {
  height: 100vh;
  width: auto;
  position: relative;
  overflow: hidden;
}

/* Imagen Banner */

#banner > div {
  min-height: 110vh;
  max-width:  100vw;
}

#banner-container-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

#controller {
  /* Position & Size */
  position: absolute;
  z-index: -1;
  width: 100vw;
}

#drummy-gif-container{
  position: absolute;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#drummy-gif{
  width: 200px;
  margin: 5%;
}

#banner  .text-box {
  height: 85vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-container {
  width: auto;
}

#banner  .banner-container .text-box h1 {
  color: #264653;
  font-family: 'Roboto Slab', serif;
  font-size: 6vw;
  margin-top: 3%;
}

#banner  .banner-container .text-box  h2 {
  color: #5A6978;
  position: relative;
  margin-top: 50%;
  margin-bottom: 3%;
  font-size: 2vw;
}

  /* Seccion Our Goal */
#our-goal > div {
  position: relative;
  min-height: 100vh;
  min-width:  100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#our-goal > div h1 {
  color: #264653;
  font-family: 'Roboto Slab', serif;
  font-size: 4vw;
  margin-top: 3%;
  margin-bottom: 3%;
  font-weight: 500;
}

#our-goal > div p {
  color: #5A6978;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3vw;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
}

#our-goal > div .box {
  display: flex;
  flex-basis: auto;
  height: 30vh;
  widht: 100vw;
}

#our-goal > div .box > div {
  background-color: rgba(233, 196, 106, 0.16);
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 2%;
  font-size: 2vw;
  flex-basis: auto;
  height: 300px;
  widht: 500px;
  overflow: hidden;
  margin-bottom: 3%;
}

#our-goal > div .box > div h3 {
  font-size: 2vw;
  font-family: Roboto Slab;
  font-weight: 500;
  color: #264653;
  margin-top: 5%;
}

#our-goal > div .box > div p {
  font-size: 1.3vw;
  text-align: justify;
  text-justify: inter-word;
  color: #343F4B;
  margin: 7%;
}

#banner1 {
  background-color: rgba(239, 91, 53, 0.77);
  position: relative;
  min-height: 100vh;
  width:  auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner1 .boxes {
  background-color: rgba(239, 91, 53, 0.77);
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#banner1 .boxes .sub-box {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 75%;
}

#banner1 .boxes .sub-box .image-container{
  background-color: #E5E9F2;
  border-radius: 35px;
  width: 378px;
  height: 240px;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  text-align: center;
  vertical-align: center;
  margin-top: 3%;
}

#banner1 .boxes .sub-box .image-container img {
  width: 70%;
  margin: 5%;
  border-radius: 10%;
}

#banner1 .sub-box h2 {
  color: white;
  /*font-size: 2vw;*/
  font-size: 28px;
  text-align: left;
  margin-left: 3%;
  margin-top: 10%;
  margin-bottom: 10%;
}

#banner1 .sub-box p {
  color: white;
  /*font-size: 1.3vw;*/
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  margin-left: 3%;
  margin-right: 3%;
}

/* Seccion See the stats */

#see-stats .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#see-stats .container .left-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#see-stats .container .left-container h1 {
  color: #264653;
  font-family: Roboto Slab;
  font-size: 40px;
  text-align: left;
  margin-top: 5%;
  margin-left: 5%;
}

#see-stats .container .left-container h2 {
  color: #264653;
  font-family: Lato;
  font-size: 26px;
  text-align: left;
  margin-top: 2.5%;
  margin-left: 5%;
}

#see-stats .container .left-container p {
  color: #5A6978;
  font-family: Lato;
  font-size: 26px;
  text-align: left;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-bottom: 7%;
}

#see-stats .container .left-container .scores-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#see-stats .container .left-container .scores-container .see-scores {
  background-color: rgba(42, 157, 143, 0.23);
  width: 218px;
  height: 332px;
  text-align: center;
}

#see-stats .container .left-container .scores-container .see-scores h3 {
  color: #343F4B;
  font-family: Lato;
  font-size: 28px;
  margin-top: 38%;
  margin-bottom: 7%;
}

#see-stats .container .left-container .scores-container .see-scores img{
  width: 95px;
  height: 95px;
}

#stats-example {
  text-align: center;
  margin: 5%;
  widht: 90%;
}

/*Footer Main Page*/
#footer-main {
  height: 30vh;
  width: 100%;
}

#footer-main .footer-main-top {
  width: 100%;
  height: 60%;
  background-color: rgba(38, 70, 83, 0.76);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: -5%;
}

#footer-main .text-box {
  margin: 1.2%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#footer-main .footer-main-top h1{
  color: #FFFFFF;
  font-family: Roboto Slab;
  font-size: 25px;
  text-align: left;
  margin-left: 3%;
  margin-top: 3%;
  white-space: nowrap;
  vertical-align: middle;
}

#footer-main .footer-main-top h2 {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  margin-left: 3%;
  vertical-align: middle;
  margin-top: 1%;
}

#footer-main .footer-main-top img {
  margin: 1%;
  margin-right: 3%;
  widht: 90px;
  height: 90px;
}

#footer-button-container, #footer-drummy-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#footer-main .footer-main-top button {
  text-decoration: none;
  margin-top: 2.5%;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  width: 200px;
  height: 40%;
}

#footer-main .footer-main-bottom {
  width: 100%;
  height: 40%;
  background-color: rgba(239, 91, 53, 0.83);
}

#footer-download-button-text {
  text-decoration: none;
  color: white;
  font-size: 16px;
  white-space: nowrap;
}

/*About Us Page -> after sign up*/
#about-us .box-about-us {
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#about-us .box-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}

#about-us .box-top .text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#about-us .box-top .text-container h2 {
  font-size: 30px;
  margin-bottom: 2%;
  margin-left: 0.5%;
}

#about-us .box-top .text-container p {
  font-size: 20px;
  text-align: justify;
}

#about-us .box-top img {
  width: 30vw;
}

#about-us .box-bottom {
  margin-top: -50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5%;
}

#about-us .box-bottom .text-container {
  text-align: left;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

#about-us .box-bottom .text-container h2 {
  font-size: 30px;
  margin-bottom: 2%;
  margin-left: 0.5%;
}

#about-us .box-bottom .text-container p {
  font-size: 20px;
}

#about-us .box-bottom .pp-container {
  margin:0px auto;
  widht: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20%;
  margin-top: 5%;
}

#about-us .box-bottom .pp-container .pp-container0 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

#about-us .box-bottom .pp-container .pp-container0 p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10%;
  white-space: nowrap;

}

#about-us .box-bottom .pp-container .pp-container0 img {
  min-width: 100px;
  max-width: 150px;
  margin:0px auto;
  border-radius: 5%;
}

#about-us-footer {
  height: 20vh;
  width: 10vw;

}

#navbar > div:nth-child(2) > div {
    /*Nav bar drum div*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.navbar-imgs {
    height: 30px;
}

#sign-out {
    visibility: hidden;
    background-color: #F5F5F5;
    padding: 10px;
    height: 30px;
}

/*Thank you page -> after sign up*/

#thankyou {
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*  Other  */
    min-height: 80%;
}

#thankyou > div {  /* styles apply only to children one level below parent*/
    /* Flex */
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    /* Immediate first two divs  */
    width: 50%;
}

#thankyou div {
    /* All divs recursively inside thankyou */
    /* Other */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



/* Sign up page */

#signup {
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    column-gap: 10%;
    /*  Other  */
    min-height: 85%;
}

#signup > div {
    /* all divs recursively */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* Other */
}

#signup > div:first-child {
    /* Title div */
    width: 40%;
    justify-self: center;
}

#signup > div:nth-child(2) {
    /* Div containing the form */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 30px 5vw;
}

#signup > div:nth-child(2) div {
    /*  Div of each individual input  */
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

/* Dashboard */
#dashboard {
    display: flex;
    flex-direction: column;
    padding: 0 100px 0 100px;
}

#dashboard > div h2 {
    /* Header */
    text-align: center;
}

#dashboard > div {
    /* Each div inside dashboard - one level down */
    margin: 30px 0 0 0;
}

#dashboard > div:nth-child(2) {
    /* Div with username and button */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#username > div:first-child {
    display: flex;
    flex-direction: row;
}

#dashboard > div:nth-child(3) div {
    /* div below personal data */
    display: flex;
    flex-direction: row;
}

#dashboard > div:nth-child(3) > div > div {
    /* Each div with profile info (Email, country ...)*/
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

#dashboard > div:nth-child(3) > div p:first-child {
    /* Bolded text in last div */
    margin-right: 20px;
}

#dashboard > div:nth-child(3) > div p:nth-child(2) {
    /* Profile data text in last div */
    margin-right: 50px;
}

#signup-submit-container{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Download page */
#download_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid #18ab95 12px;
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-right: 4rem;
    padding-left: 4rem;
    align-items: center;
    column-gap: 50px;
}

#download_main > img{
    width: 50%;
}

#dl_info{
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    text-align: justify;
    flex-shrink: 1;
}

#dl_info > div{
    display: flex;
    justify-content: center;

}

#dl_info > p{
    font-size: 25px;
}

#dl_info > h1{
    font-size: 40px;
}

#how2_play{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 111px;
    padding-left: 111px;
}

#how2_play p{
    font-size: 25px;
}

#how2_play  h1{
    font-size: 45px;
    text-align: center;
}

#how2_play h2{
    text-align: center;
    font-size: 35px;
}

#move{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 80px;
    margin-bottom: 5rem;
}

#move > img{
    width: 40%;
    height: 40%;
}

#move_inst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    flex-shrink: 1;
    width: 50%;
}

#move_inst > img{
    width: 50%;
    margin: 0 auto;
}

#to_hit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 80px;
    margin-bottom: 5rem;
}

#to_hit > img{
    width: 35%;
    height: 35%;
}

#hit_inst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 80px;
    flex-shrink: 1;
    width: 50%;
}

#hit_inst > img{
    width: 20%;
    margin: 0 auto;
}

#instruments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 80px;
    margin-bottom: 5rem;
}

#instruments > img{
    width: 40%;
    height: 40%;
}

#inst_inst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 80px;
    flex-shrink: 1;
    width: 50%;
}

#inst_inst > img{
    width: 50%;
    margin: 0 auto;
}

#gpNtime{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 80px;
    margin-bottom: 5rem;
}

#gpNtime_inst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    flex-shrink: 1;
    width: 50%;
}

#gpNtime > iframe{
    margin: auto;
}

/* Stats page */

#stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    row-gap: 50px;
}

#stats p{
    font-size: 26px;
}

#stats h1{
    font-size: 40px;
}

#stats h2{
    font-size: 28px;
    text-align: center;
}

#stat_description{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#graphs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    row-gap: 100px;
    width: 100%;
}

.stat_pair{
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    justify-content: space-between;
    width: 100%;
}

.table_title{
    /* -------- Ajustes para titulo sobre tabla ------ */
    height: 500px;
    width: 500px;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    color: #868686;
}

.gpWtitle {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 40%;
}

/* Download logged */
#download-logged {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}

#download-logged > div {
    margin-top: 15%;
}

/* Login page*/
#login-button {
  background-color: #E76F51;
  border: solid 1px #E76F51;
  color: white;
}

#login-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}